.inner:hover img {
  transform: scale(1.3);
}
.inner {
  overflow: hidden;
}

.card-img-top {
  transition: all 1s ease;
}

.postcard {
  margin-top: 50px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.card-body {
  height: 180px;
  padding: 10px;
  margin-bottom: 30px;
}
