.postcard {
  margin-top: 50px;
  margin: 20px;
  padding: 8px;
  height: 350px;
  width: 300px;
  box-shadow: 5px 10px rgba(155, 155, 155, 0.6);
}

.practice-container-div {
  padding: 20px;
  justify-content: flex-start;
}
.card-img-top {
  height: 150px;
  width: 160px;
}

@media only screen and (max-width: 780px) {
  .practice-container-div {
    justify-content: center;
  }
}
