/* header */

.header {
  margin: 0 auto;
  padding: 10px;
  color: white;

  align-items: center;
}

.logo {
  height: 35px;
  width: 35px;
  margin-right: 25px;
}

.header-div {
  justify-content: center;
}
