/* header */

.logo {
  height: 35px;
  width: 35px;
  margin-right: 25px;
}

.heading {
  margin: 0 0 0 0;
  font-size: 1.5rem;
}

.header-div {
  margin: 0 auto;
  padding: 10px;
  color: white;
  align-items: center;
  text-align: center;
  background-color: #080808;
  justify-content: center;
}
