.icon-button {
  margin-bottom: 10px;
}

.icon-button i {
  color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  margin: 0 5px;
  position: relative;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.5rem;
}
